<!DOCTYPE html>
<html>
<head>
  <title>Bike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top">
  <img class="bike_image" src="http://www.citibikenyc.com/assets/images/pages/feature-pages/about-the-bike/about-the-bike-module-1.png">
</div>

<%= yield %>

</body>
</html>
